include AUTHORS.md
include HISTORY.md
include LICENSE
include README.md

# include requirements.txt
# recursive-include django_deep_link *.html *.png *.gif *js *.css *jpg *jpeg *svg *py

recursive-include src/django_deep_link/templates *.html
